@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background-color: rgb(44, 44, 44);
}

*{
    margin: 0;
    padding: 0; 
}

nav{
    font-family: 'Open Sans', sans-serif;
    position: sticky;
    top: 0px;
    height: fit-content;
    border: 10px;
    border-color: black;
    border-radius: 100px;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    height: 60px;
    background-color: black;
    color: white;
    align-items: center;
}

.navi{
    align-self: center;
    margin-right: 20px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.container{
    height: fit-content;
    background-color: rgb(30, 30, 30);
    color: aliceblue;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 25px auto;
    width: 70%;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0px 0px 30px 0px;
    font-size: medium;
}

.conHead{
    display:flexbox;
    flex-direction: row;
}
.conHead img{
    border-radius: 15px;
    width: 100%;
}

.conHead h1{
    font-size: 100;
    margin: 10px 30px;
}

.songList{
    display: flex;
    flex-direction: column;
}

#i{
    width: 15%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
    
#n{
    width: 30%;
}
#a{
    width: 25%;
    align-items: center;
}
#d{
    width: 20%;
    text-align: center;
}
#b{
    width: 10%;
}

.songItem{
    display: flex;
    flex-direction: row;
    padding: 5px 0px;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
}

.songItem img{
    width: 64px;
    border-radius: 10px;
}

.gradient{
    background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255));
}

.brand img{
    width: 50px;
    /* margin: 10px 20px 10px 20px; */
}
.brand{
    font-weight: bolder;
}
nav ul li{
    padding:10px 20px 10px 20px;
}

#brandName{
    font-size:x-large;
    align-self: left;
}


.bottom{
    margin-right:20px ;
    margin-left:20px ;
    border-radius: 100px;
    align-self: center;
    font-family: 'Open Sans',sans-serif;
    background-color: rgb(0, 0, 0);
    position: sticky;
    bottom: 0px;
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0px 35px 0px;
}

.icons{
    /* padding-bottom: 20px; */
    scale: 2.5;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    ;
}
.icons i{
    padding: 0px 10px 0px 10px;
}

#myProgBar{
    width: 50vw;
    cursor: pointer;
    margin: 20px 40px 0px 40px;
}

.songInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    color: aliceblue;
}


.songInfo img{
    scale: 0.5;
    transition: opacity 1s ease-in;
}